
<% content_for :top do %>

		<h1 id="wc-title">d</h1>
		
		<div id="calendar_controls">
			<span id="prev">PREV</span>
			<span id="today">TODAY</span>
			<span id="next">NEXT</span>
		</div>
		<div class="ribbon"></div>

<% end %>

<% content_for :page do %>

	<div id="forecast">
	</div>
	<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
	
<% end %>

<%= render '/home/pad' %>
