<div class="dialog">
  <div class="top"></div>
  <div class="content">
    <h3>Thank you <%= @invite.name %>!</h3>
	  <p>We will send you and email when the beta is ready.</p>
  </div>
  <div class="content-end"></div>
  <div class="bottom">
    <button type="button" class="close-fancybox">Close</button>
  </div>

</div>
