<div id="header">
	<div class="title">
	</div>
	<div id="invite_box">
		<br><br><br><br>
		<h2>Thank you <%= @invite.name %> for your request!
			<br><br>We will send you and email when the beta is ready.</h2>
	</div>
</div>
<div id="footer">
	<div class="top">
		<div class="copy">
			Copyright &copy; 2011 Robbins Research International, Inc. All Rights Reserved.
		</div>
	</div>
</div>
