<div class="notices">

<% @notices.each do |notice| %>

  <%= link_to notice_href(notice), :class => "notice category", :remote => true do %>
    <span class="icon <%= notice.type %>"></span>
    <span class="title"><%= notice_title(notice) %></span>
    <span class="time"><%= time_ago_or_time_stamp(notice.created_at) %></span>
  <% end %>

<% end %>

</div>
