<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p><%= @email %></p>
		<p>Test via html</p>
		<p><%= link_to "Visit site", root_url %></p>
		-how did this work??
	</body>
</html>