<div class="purposes">
	<div class="purpose_group" group_id="<%= task.group.id.to_s %>">
		<%= task.group.title %>
	</div>
	<div class="purpose">
	<%= task.purpose %>
	</div>
	<form class="add_purpose no_disp">
		<input type="text" value="" class="edit_task_text">
	</form>
</div>