<div class="wc-group">
	<span class="img_wrap"><%= image_tag @group.images.forward.first.image.tiny if @group.images.forward.first %></span>
	<span class="title_wrap"><%= @group.title %></span>
</div>