<div id="notes_wrap">
	<div id="notes">
		<% @task.notes.each_with_index do |note| %>
			<%= render :partial => 'note', :locals => { :note => note } %> 
		<% end %>
		<input type="text" id="new_note" rel="<%= @task.id.to_s %>">
	</div>
	<div id="dialog_close">Done</div>
</div>