<div id="calendar_wrap" class="cluetip">
	<div id="duration">
		<div class="title">Duration</div>
		<div class="duration_wrap" id="min">
			<div class="sub_title">Min</div>
			<%= text_field_tag 'hour', nil, :placeholder => '00', :class => 'hour', :maxlength => '2' %>
			<span class="colon">:</span>
			<%= text_field_tag 'hour', nil, :placeholder => '00', :class => 'minute', :maxlength => '2' %>
		</div>
		<div class="duration_wrap" id="max">
			<div class="sub_title">Max</div>
			<%= text_field_tag 'hour', nil, :placeholder => '00', :class => 'hour', :maxlength => '2' %>
			<span class="colon">:</span>
			<%= text_field_tag 'hour', nil, :placeholder => '00', :class => 'minute', :maxlength => '2' %>
		</div>
	</div>
</div>

<input type="hidden" id="min_duration">
<input type="hidden" id="max_duration">


