<div id="popup">
	<div class="top">
		<a class="close"></a> 
		<div class="title">New Result / Action</div>
	</div>
	<div class="body">
		<%= form_for @task, :remote => true do |f| %>
				<%= f.text_field :task, :class => 'task_input' %>
		<% end %>
	</div>
</div>