#cal_wrap {
	position: relative;
	min-height: 100%;
}
#cal_tear{
	height: 10px;
	width: 100%;
	background: url(/images/cal_tear.png) repeat-x 0 0 transparent;
	position: absolute;
	top:0;
	left: 0;
}
#cal_header {
	height: 40px;
	background: url(/images/cal_header_bg.png) repeat-x 0 0 #444;
	border-radius: 5px 5px 0 0;
	border: 1px solid #4a4e4e;
}
#cal_links{
	width: 280px;
	margin: 7px auto 0;
}
#cal_links a.day_link {
	display: inline-block;
	float: left;
	width: 64px;
	height: 27px;
	background: url(/images/sprite.png) no-repeat 0 -369px transparent;
}
#cal_links a.week_link {
	display: inline-block;
	float: left;
	width: 72px;
	height: 27px;
	background: url(/images/sprite.png) no-repeat -64px -369px transparent;
}
#cal_links a.month_link {
	display: inline-block;
	float: left;
	width: 70px;
	height: 27px;
	background: url(/images/sprite.png) no-repeat -136px -369px transparent;
}
#cal_links a.forecast_link {
	display: inline-block;
	float: left;
	width: 74px;
	height: 27px;
	background: url(/images/sprite.png) no-repeat -206px -397px transparent;
}
#cal_title_header {
	padding: 20px 0 8px 0;
}
#forecast_wrap {
	background: #FFF;
	position: relative;
	padding: 0 15px 15px 15px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
#cal_grid_wrap {
	margin: 0 200px 0 0;
}
h1#cal_title {
	font-size: 30px;
	display: inline-block;
	color: #4f5253;
}
#set_range {
	margin: 11px 5px 0 0;
	float: right;
}
#set_range span.edit {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/images/sprite.png) no-repeat -84px -324px transparent;
	cursor:pointer;
}
#set_range input[type="text"] {
	width: 50px;
	display: inline-block;
	text-align: right;
}
h2.cal_subtitle {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	margin: 3px 0 0 0;
	color: #4f5253;
}
#set_range {
	float: right;
}
#set_range #range_form {
	display: inline;
}
#set_range  #range_form input {
	width: 50px;
	display: inline;
}
#toggle_queue {
	width: 103px;
	height: 27px;
	background: url(/images/sprite.png) no-repeat -282px -369px transparent;
	float: right;
	margin: 0 10px 0 0;
	cursor: pointer;
}
#toggle_queue.on {
	background-position: -282px -397px;
}
.queue_item {
	padding: 3px 2px;
	border-bottom: 1px solid #CCC;
	width: 196px;
}