.ui-datepicker { 
	width: 100%;
}
.ui-datepicker .ui-datepicker-header { 
	position:relative;
	height: 30px;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next { 
	position:absolute; 
	top: 0;
	width: 20px; 
	height: 20px;
	display: block;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover { 

}
.ui-datepicker .ui-datepicker-prev { 
	left:0; 
	background:#AAA;
}
.ui-datepicker .ui-datepicker-next { 
	right:0; 
	background:#AAA;
}
.ui-datepicker .ui-datepicker-prev-hover { 
	background:#CCC;
}
.ui-datepicker .ui-datepicker-next-hover { 
	background:#CCC;
}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { 
	display: none;
}
.ui-datepicker .ui-datepicker-title {
	text-align: center;
	line-height: 20px;
}
.ui-datepicker table {
	width: 100%; 
	font-size: 12px; 
	border-collapse: collapse; 
}
.ui-datepicker td { 
	border: 0; 
	padding: 2px; 
}
.ui-datepicker th {
	text-align: center;
}
.ui-datepicker td a { 
	display: block; 
	text-align: right; 
	text-decoration: none; 
}
td.ui-datepicker-current-day {
	background: red;
}
td.ui-datepicker-current-day a {
	color: #FFF;
}
td.ui-datepicker-today {
	border: 1px solid blue;
}
td.ui-datepicker-today a {
}
td.ui-datepicker-other-month {
	text-align: right;
	color: #AAA;
}