#edit_user_wrap {
	color: #FFF;
}
#sign_in_wrap {
	color: #FFF;
}
#sign_up_wrap {
	color: #FFF;
}
#edit_user_wrap a, #sign_in_wrap a, #sign_up_wrap a {
	background: #1d6fd5;
	color: #FFF;
}
p {
	margin: 0 0 10px 0;
}