html {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-size: 12px;
	color:#333333;
	background: url('/images/reeds.jpg') no-repeat bottom left #424344;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
h1 {
	font: bold 30px/1.0 Helvetica, Arial, sans-serif;
	margin: 0 0 20px 0;
	padding: 0;
	color: #FFF;
	text-align:center;
	text-shadow: 0 1px 1px #555;
}
h2 {
	font: bold 14px/1.0 Helvetica, Arial, sans-serif;
	margin: 0 0 20px 0;
	padding: 0;
	color: #FFF;
	text-align:center;
}
h3 {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;	
}
#nav {
	height: 100%;
	width: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #424344;
	background: -moz-linear-gradient(left, #3c3d3e, #545759);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 0 0 0;
	display: none;
}
#nav a {
	display: block;
	width: 44px;
	height: 41px;
	overflow: hidden;
	margin: 0 auto 15px;
	border-radius: 3px;
}
#nav a img {
	width: 44px;
	border-radius: 3px;
}
#nav a.user {
	width: 42px;
	border: 1px solid #222;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#nav a.planner {
	background: url(/images/sprite.png) no-repeat 0 -143px;
}
#nav a.planner_active {
	background: url(/images/sprite.png) no-repeat 0 -186px;
}
#nav a.calendar {
	background: url(/images/sprite.png) no-repeat -46px -143px;
}
#nav a.contacts {
	background: url(/images/sprite.png) no-repeat -93px -143px;
}
#sub_nav {
	height: 100%;
	position: fixed;
	top: 0;
	left: -1px;
	background: url('/images/sub_nav_bg.png') repeat-y center center #e5e9eb;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 3px 0 6px rgba(0,0,0,0.5);
	border-left: 1px solid #222222;
	padding: 30px 0 0;
	font:bold 13px/1.0 Helvetica, Arial, sans-serif;
}
#sub_nav h2 {
	font: normal 15px/1.0 Helvetica, Arial, sans-serif;
	margin: 2px 0 8px 12px;
	color: #4e5152;
	text-shadow: 0 1px 0 #FFF;
	text-align: left;
	display: inline-block;
}
.sub_group_wrap {
	background: #d5d6d7;
	border-radius: 4px;
    box-shadow: 0 1px 2px #777 inset;
	overflow:hidden;
	padding: 4px 0;
	margin: 0 12px 20px;
	width: 210px;
}
.sub_group_wrap div.group{
	border-bottom: 1px solid #aeaeae;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
}
.sub_group_wrap div.group:hover {
	background: #c4c7ca;
}
div.sub_group_wrap > :first-child {
	border-top: none;
}
div.sub_group_wrap > :nth-child(2) {
	border-top: none;
}
div.sub_group_wrap > :last-child {
	border-bottom: none;
}
.sub_group_wrap div.group a {
	display:block;
	color: #4f5253;
	font: bold 13px/1.0 Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 #EEE;
	padding: 16px 10px 14px 10px;
}

.sub_group_wrap div.active, .sub_group_wrap div.active:hover  {
	background: -moz-linear-gradient(top, #6f98e1, #256aca);
	background: -webkit-gradient(linear, left top, left bottom, from(#6f98e1), to(#256aca));
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
}
.sub_group_wrap div.active a {
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.sub_group_wrap a.active span.inbox {
	width:21px;
	height: 18px;
	background: url(/images/sprite.png) no-repeat -31px -231px transparent;
	display: inline-block;
}
#content {
    padding: 25px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 240px;
	right: 0;
	overflow: auto;
}
#content .test {
	position: absolute;
	top: 0;
	right: 0;
}
#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -999;
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
.hidden { 
	display: none;
}
a {
	color: #1d6fd5;
	text-decoration: none;
}
p.notice {
	color:#FFF;
	font-size: 16px;
}
p.error {
	color:#FFF;
	font-size: 16px;
}
span.alert, span.notice {
	color:#FFF;
	font-size: 16px;
}
a.signout {
	display: block;
	float: right;
	width: 17px;
	height: 20px;
	background: url(/images/sprite.png) no-repeat -4px -253px transparent;
	margin: 0 2px 0 0;
}
a.signout:hover {
	background-position: -34px -253px;
}
strong {
	font-weight: bold;
}
.no_disp {
	display: none;
}