html {
	height: 100%;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-size: 12px;
	color:#333333;
	background: url('/images/grey.jpg') no-repeat top center #424344;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
#nav {
	height: 100%;
	width: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #424344;
	background: -moz-linear-gradient(left, #3c3d3e, #545759);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 0 0 0;
}
#nav a {
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	margin: 0 auto 20px;
	border-radius: 3px;
}
#nav a img {
	width: 44px;
	border-radius: 3px;
}
#sub_nav {
	height: 100%;
	width: 235px;
	position: fixed;
	top: 0;
	left: 60px;
	background: url('/images/sub_nav_bg.png') repeat-y center center #e5e9eb;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 3px 0 6px rgba(0,0,0,0.5);
	border-left: 1px solid #222222;
}
#content {
    padding: 25px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 295px;
	right: 0;
	overflow: auto;
}
#content .test {
	position: absolute;
	top: 0;
	right: 0;
}
#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -999;
}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
.hidden { 
	display: none;
}
h1 {
	font: bold 36px/1.0 Helvetica, Arial, sans-serif;
	margin: 0 0 20px 0;
	padding: 0;
	color: #FFF;
	text-align:center;
}
a {
	color: #1d6fd5;
	text-decoration: none;
}
p.notice {
	color:#FFF;
	font-size: 16px;
}
p.error {
	color:#FFF;
	font-size: 16px;
}
span.alert, span.notice {
	color:#FFF;
	font-size: 16px;
}