#sm2-container { 
	z-index: -9999;
}
#player_wrap {
    width: 300px;
	background: #CCC;
	position: relative;
	border-radius: 3px;
}
span.time_wrap{
	color: #FFFFFF;
    font: 10px/16px Helvetica,Arial,sans-serif;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 99;
}
span.duration{
}
#player_outer {
    height: 60px;
    margin: 0 0 0 60px;
    position: relative;
	cursor: pointer;
}
#player_loading {
    background: none repeat scroll 0 0 #777;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 5;
	cursor:pointer;
	border-radius: 0 3px 3px 0;
}
#player_playing {
    background: none repeat scroll 0 0 #2b78e4;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 6;
	cursor:pointer;
}
#play_wrap {
	width: 60px;
	height: 60px;
	display: block;
	float: left;
}
#play_pause{
	margin: 5px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
}
#play_pause.play{
	background: url(/images/sprite.png) no-repeat -152px 0 transparent;
}
#play_pause.play:hover{
	background-position: -202px 0;
}
#play_pause.pause{
	background: url(/images/sprite.png) no-repeat -152px -50px transparent;
}
#play_pause.pause:hover{
	background-position: -202px -50px;
}