<h3>Change Icon</h3>
<div id="select_icon">
	<span class="group_icon icon_check"></span>
	<span class="group_icon icon_gold_medal"></span>
	<span class="group_icon icon_silver_medal"></span>
	<span class="group_icon icon_dollar_sign"></span>
	<span class="group_icon icon_alert"></span>
	<span class="group_icon icon_clock"></span>
	<span class="group_icon icon_chart"></span>
	<span class="group_icon icon_bolt"></span>
	<span class="group_icon icon_justice"></span>
	<span class="group_icon icon_pig"></span>
	<span class="group_icon icon_note"></span>
	<span class="group_icon icon_sun"></span>
	<span class="group_icon icon_book"></span>
	<span class="group_icon icon_cloudy"></span>
	<span class="group_icon icon_wizard"></span>
	<span class="group_icon icon_cupcake"></span>
	<span class="group_icon icon_door"></span>
	<span class="group_icon icon_cloudy"></span>
	<span class="group_icon icon_star"></span>
	<span class="group_icon icon_earth"></span>
	<span class="group_icon icon_folder"></span>
	<span class="group_icon icon_strawberry_cake"></span>
	<span class="group_icon icon_chocolate_cake"></span>
</div>
<%= form_for(@group, :html => { :id => "group_icon" }) do |f| %>
	<%= f.hidden_field :icon, :value => 'icon_check', :id => 'hidden_icon' %>
<% end %>