<div id="account_bar">
		<span class="inner_highlight"></span>
		
		<div id="cal_btn"></div>
		<div id="notices_btn"></div>
		
		<div class="account_wrap">
			<div class="img">
				<%= image_tag current_user.images.forward.first.image.thumb if current_user.images.first %>
			</div>
			<div class="name">
				<%= current_user.name %>
			</div>
			<div class="account_popup">
				<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
				<%= link_to('Edit Account', edit_user_registration_path, :id => 'edit_account') %>
			</div>
		</div>

		<div class="slide_wrap">
			<div id="datepicker" class="acct_datepicker">
			</div>

			<div id="notices_sidebar">
				<div class="title_bar">
					<span class="title">Notifications</span>
				</div>

				<div class="notices"></div>

			</div>
		</div>
		
</div>