<div id="categories">
		<div class="inner_shadow"></div>
		<div id="account_bar">
			<span class="inner_highlight"></span>
			<%= render '/home/account' %>
		</div>
	
		<%= render '/home/categories_wrap' %>

		
		
		
</div>