<div id="pad">
	<div id="top">
		<div class="torn"></div>
		<%= yield :top %>
	</div>
	<div id="page">
		<%= yield :page %>
	</div>
	<div class="stack"><span class="l"></span><span class="r"></span></div>
</div>