<div class="content-header">
  <%= image_tag 'landing/help_03.png', :class => 'page-title center' %>
</div>

<div class="entry-box">
  <%= image_tag 'landing/help_07.png' %>
  <div class="clear space20"></div>
  <div class="col1">
    <ul>
      <li>1. <a href="#no1">How do I know TimeMasterRPM is for me?</a></li>
      <li>2. <a href="#no2">I like my to do lists, how else can I get things done if I don’t have them?</a></li>
      <li>3. <a href="#no3">Are you kidding when you say that my stress level will decrease?</a></li>
      <li>4. <a href="#no4">I really feel like my life has more things and I have less time to get them done.  How can an app change this for me?</a></li>
    </ul>
  </div>
  <div class="col2">
    <ul>
      <li>5. <a href="#no5">How do I know TimeMasterRPM is for me?</a></li>
      <li>6. <a href="#no6">I like my to do lists, how else can I get things done if I don’t have them?</a></li>
      <li>7. <a href="#no7">Are you kidding when you say that my stress level will decrease?</a></li>
      <li>8. <a href="#no8">I really feel like my life has more things and I have less time to get them done.  How can an app change this for me?</a></li>
    </ul>
  </div>
</div>

<div class="entry-box shadowdrop answers space40">
  <ul>
    <li><a name="no1">1. How do I know TimeMasterRPM is for me?</a><br>RPMTimeMaster will teach you to develop a MAP or an action plan that provides a multitude of ways to achieve things that you want.  It eliminates the endless process required by to do lists. </li>
    <li><a name="no2">2. I like my to do lists,  how else can I get things done if I don’t have them?</a><br>Traditional ‘to-do’ list planning fails to recognize the relationship between related tasks and causes us to focus on doing rather than accomplishing.  By combining lists into single results, RPMTimeMaster gives you the power to accomplish what matters most and eliminate the things that are unnecessary. </li>
    <li><a name="no3">3. Are you kidding when you say that my stress level will decrease?</a><br>The simple act of getting clear on your outcomes and knowing why you want these outcomes rather than focusing on  get things done will transform stress into drive and fulfillment, and create a life that you direct and shape rather than one of constant reaction.  </li>
    <li><a name="no4">4. I really feel like my life has more things and I have less time to get them done. How can an app change this for me?</a><br>TimeMasterRPM is based on a way of thinking that is designed to give you more certainty and give you the focus that gets you results.    By using this system you will  regain a sense of certainty that you are not just getting things done to get things done but rather doing the things that will get you the outcomes that will truly make a difference in the level of fulfillment that you experience in your life.</li>
    <li><a name="no5">5. I already get plenty done,  how do you know I will get more done?</a><br> What “needs” to get done does not guarantee that you will make any real progress
Motion and accomplishment clearly are not the same.  With so many things to do  how do you know what the most important things to get done are?   While you are busy what would it be like if you were able to quickly pierce through the things that weren’t important and  focus on what was really key to getting what you want?  The RPMTimeMaster system does exactly that.   When you use this app your efficiency and productivity  will experience a  tremendous increase in productivity.</li>
    <li><a name="no6">6. I like my planner and my calendar. Are you suggesting I get rid of them?</a><br>RPMTimeMaster integrates the philosophy of RPM thinking with Google and Apple calendars.     The app gives you a simple way to plan exactly what matters most for you to focus on to achieve the results that you want in your life.  </li>
    <li><a name="no7">7. Are you kidding when you say that I will experience an increase in energy? This is an app, not a 5 hour energy drink?</a><br> Absolutely.   With RPM you will create a new powerful sense of purpose, drive, and fulfillment every day.   So when those hurdles come along you will have plenty of reasons and resources to continue to move over these hurdles and through or around any potential roadblock with ease. </li>
    <li><a name="no8">8. Ok and my life will have more balance?</a><br>Yes! Create a life plan that will allow you to achieve balance in all areas of life. We each have various categories or life roles that are important. Whatever they are to you, in your professional and personal life,  RPMTimeMaster will get you focused on each and ensure that you make  progress in all the areas of your life that are important to you.</li>
  </ul>
</div>


<p class="center fs22">See more of what TimeMaster can do for you.</p>
<a href="<%= tour_path %>"><%= image_tag 'landing/home_22.png', :class => 'center space10' %></a>