<h3>Tap into your true potential,  get more done, with less stress.</h3>
 
<h4>A Simple,  Powerful  &amp; Fun Life Creation Tool</h4>

 GrowthTap connects you to the common sense that enabled you to get the very first thing that you ever wanted and anything that you have accomplished since.
<br><br>
<h4> Designed around 3  questions: What?   Why?  &amp; How? </h4>
<br>

<h4>With GrowthTap You'll</h4>
<ul>
  	<li>Quickly get stuff out of your head onto "paper"</li>

  	<li>Know exactly what you want </li>

  	<li>Remain connected to why you want it</li>

  	<li>Take your huge list of things to get done  and with ease arrange them around what really want</li>
</ul>
<br>
Use Growth Tap and Design the Life You Want
<br><br>
<%= link_to('Try it free for 30 days!', new_user_registration_path)  %>
