<!DOCTYPE html>
<html>
<head>
  <title> Web App Master Plan </title>
  <%= stylesheet_link_tag '0_reset.css' %>
</head>
<body style="background-color: #1f1f22">


	<div style="width: 2441px; height: 1100px; background: url(/images/masterplan.png) no-repeat top center #1f1f22">

	</div>

</body>
</html>
