#categories {
	position: absolute;
	top: 30px;
	right: 20px;
	bottom: 20px;
	width: 275px;
	border-radius: 5px;
	box-shadow: 0 1px 1px #5e5955;
	border: 1px solid #1d1b1a;
	background: rgba(0,0,0,0.2);
	overflow: hidden;
}
#categories .inner_shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 4px #1d1b1a;
	background: transparent;
}
#categories #filter_bar {
	background: #363230;
	background: -webkit-gradient(linear, left top, left bottom, from(#3b3634), to(#34302e));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #1d1b1a;
	box-shadow: 0 0 4px #1d1b1a;
	padding: 8px 0 0 0;
	height: 29px;
	z-index: 3;
	text-align: center;
}
#categories #filter_bar .inner_highlight {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 1px 0 #4f4945;
	background: transparent;
	border-radius: 5px 5px 0 0;
	z-index: 3;
}
#categories #filter_bar .filters_wrap {
	display: inline-block;
}
#categories #filter_bar .filter {
	box-shadow: 0px 1px 1px #5e5955;
	padding: 3px 10px 0;
	text-shadow: #1d1b1a 0px 1px 2px;
	background: url('/assets/categories_filter_bg.jpg') repeat-x top center #312d2b;
	border-left: 1px solid #1d1b1a;
	border-top: 1px solid #1d1b1a;
	border-bottom: 1px solid #1d1b1a;
	float: left;
	color: #c4bebb;
	display: block;
	cursor: pointer;
	height: 16px;
	font-size: 11px;
	z-index: 4;
	position: relative;
}
#categories #filter_bar .rounded_left {
	border-radius: 10px 0 0 10px;
	padding-left: 12px;
}
#categories #filter_bar .rounded_right {
	border-radius: 0 10px 10px 0;
	border-right: 1px solid #1d1b1a;
	padding-right: 12px;
}
#categories #filter_bar .active, #categories #filter_bar .filter:hover {
	background: url('/assets/filter_active.png') repeat-x top left #1773b4;
	color: #FFF;
}
#categories .title_bar {
	background: #363230;
	background: -webkit-gradient(linear, left top, left bottom, from(#3b3634), to(#34302e));
	border-bottom: 1px solid #1d1b1a;
	border-top: 1px solid #484442;
	box-shadow: 0 1px 4px #1d1b1a;
	height: 22px;
	z-index: 4;
}
#categories .title_bar .title {
	display: inline-block;
	margin: 6px 0 0 8px;
	color: #928c89;
	font-size: 10px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #000;
	font-weight: bold;
}
#categories .title_bar .add_category {
	display: block;
	float: right;
	width: 16px;
	height: 17px;
	background: url('/assets/add_category.png') no-repeat;
	margin: 3px 3px 0 0;
	cursor: pointer;
}
#categories .title_bar .add_category:hover {
	background-position: 0 -17px;
}
#categories .title_bar .toggle_category {
	display: block;
	float: right;
	width: 16px;
	height: 17px;
	background: url('/assets/toggle_category.png') no-repeat;
	margin: 3px 6px 0 0;
	cursor: pointer;
}
#categories .title_bar .toggle_category:hover {
	background-position: 0 -17px;
}
#categories .title_bar .toggle_category.down {
	background-position: 0 -34px;
}
#categories .title_bar .toggle_category.down:hover {
	background-position: 0 -51px;
}
#categories #personal {
	margin-top: -1px;
	min-height: 26px;
}
#categories #professional {
	margin-top: -1px;
	min-height: 26px;
}
#categories .categories_wrap {
	position: absolute;
	top: 37px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
}
#plan_categories .category {
	display: block;
	height: 38px;
	border-bottom: 1px solid #242220;
	border-top: 1px solid #3c3734;
	position: relative;
	z-index: 3;
	background: transparent;
}
#categories .category .cover {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin: 6px 8px 0 8px;
	background: #242120;
	border-radius: 2px;
	border: 1px solid #1d1b1a;
	box-shadow: 0 1px 0 #4e4a46;
	overflow: hidden;
	position: relative;
}
#categories .category .cover img {
	width: 100%;
	border-radius: 2px;
}
#categories .category .inbox_cover {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin: 6px 8px 0 8px;
	background: url('/assets/inbox.png') no-repeat;
	border-radius: 2px;
	overflow: hidden;
	position: relative; 
}
#categories .category .title {
	font-weight: bold;
	color: #cdc8c6;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
	padding: 2px;
	margin: 11px 0 0 0;
	overflow: hidden;
	text-shadow: 0 1px 2px #000;
	max-width: 140px;
	
}
#categories .category .count {
	background: #282623;
	border-radius: 10px;
	font-weight: bold;
	color: #cdc8c6;
	font-size: 11px;
	white-space: nowrap;
	display: block;
	padding-top: 2px;
	margin: 10px 8px 0 0;
	overflow: hidden;
	width: 28px;
	height: 14px;
	text-shadow: 0 1px 2px #000;
	text-align: center;
	float: right;
	border: 1px solid #1d1b1a;
	box-shadow: 0 1px 0 #4e4a46;
	position: relative;
}
#categories .category .count .inner_shadow {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 1px 2px #131211;
	background: transparent;
	border-radius:10px;
}
#plan_categories .category .edit {
	width: 15px;
	height: 15px;
	background: url('/assets/edit_white.png') no-repeat;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	margin: 12px 6px 0 0;
	display: none;
}
#plan_categories .category .edit:hover {
	opacity: 1.0;
}
#plan_categories .category .edit_done {
	width: 15px;
	height: 15px;
	background: url('/assets/edit_done_white.png') no-repeat;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	margin: 12px 6px 0 0;
	display: none;
}
#plan_categories .category .edit_done:hover {
	opacity: 1.0;
}
#plan_categories .category .delete {
	width: 15px;
	height: 15px;
	background: url('/assets/delete_white.png') no-repeat;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	margin: 12px 6px 0 0;
	display: none;
}
#plan_categories .category .delete:hover {
	opacity: 1.0;
}
#plan_categories .category:hover .edit {
	display: block;
}
#plan_categories .category .form {
	display: none;
}
#plan_categories  .category.editing .edit, #plan_categories .category.editing .cover, #plan_categories .category.editing .title, #plan_categories .category.editing .count {
	display: none;
}
#plan_categories .category.editing .form, #plan_categories .category.editing .edit_done, #plan_categories .category.editing .delete, #plan_categories .category.editing .form .cover {
	display: block;
}


#categories .category.active, #categories .drop_hover {
	background: rgba(0,0,0,0.3);
	border-top: 1px solid #151414;
}
#categories .category.active .title, #categories .drop_hover .title {
	color: #FFF;
}
#categories .category.active .count, #categories .drop_hover .count {
	color: #FFF;
	background: #151414;
}
#categories .category.active .count .inner_shadow, #categories .drop_hover .count .inner_shadow {
	box-shadow: inset 0 1px 2px #000;
}



#categories .new_category {
	overflow: hidden;
	display: none;
	background: #363230;
	background: -webkit-gradient(linear, left top, left bottom, from(#3B3634), to(#34302E));
	border-top: 1px solid #242220;
}
#categories .file_field_cover {
	background: url('/assets/add_category_image.png') no-repeat;
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: block;
	border-radius: 2px;
}
#categories .file_field_cover.added {
	background-position: 0 -24px;
}
#categories .cover input {
	cursor: pointer;
	height: 24px;
	width: 24px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 100px;
	opacity: 0.01;
}
#categories input[type="text"] {
color: #333;
display: block;
float: left;
background: white;
border: 1px solid #000;
border-radius: 10px;
box-shadow: inset 0 1px 2px #AAA;
font-family: Arial, sans-serif;
font-size: 12px;
padding: 2px 7px;
margin: 9px 0 0 0;
width: 150px;
}
#categories .new_category .edit_done {
	width: 15px;
	height: 15px;
	background: url('/assets/edit_done_white.png') no-repeat;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	margin: 12px 10px 0 0;
	display: block;
}
#categories .new_category .edit_done:hover {
	opacity: 1.0;
}
#categories .new_category .cancel {
	width: 15px;
	height: 15px;
	background: url('/assets/delete_white.png') no-repeat;
	float: right;
	cursor: pointer;
	opacity: 0.5;
	margin: 12px 10px 0 0;
	display: block;
}
#categories .new_category .cancel:hover {
	opacity: 1.0;
}
#categories .ui-sortable-helper * {
	display: block;
}
#categories .ui-sortable-helper {
	background: #363230;
	background: -webkit-gradient(linear, left top, left bottom, from(#3B3634), to(#34302E));
	width: 275px !important;
	height: 38px !important;
	border-radius: 0;
}