#datepicker {
	margin: 5px 12px 5px;
}
.ui-datepicker { 
	width: 100%;
}
.ui-datepicker .ui-datepicker-header { 
	position:relative;
	height: 24px;
	margin: 0 0 4px;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next { 
	position:absolute; 
	top: 0;
	width: 20px; 
	height: 20px;
	display: block;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover { 

}
.ui-datepicker .ui-datepicker-prev { 
	left:0; 
	background: url(/assets/sprite.png) no-repeat -3px -323px transparent;
}
.ui-datepicker .ui-datepicker-prev:hover {
	background-position: -3px -343px;
}
.ui-datepicker .ui-datepicker-next { 
	right:0; 
	background: url(/assets/sprite.png) no-repeat -22px -323px transparent;
}
.ui-datepicker .ui-datepicker-next:hover {
	background-position: -22px -343px;
}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { 
	display: none;
}
.ui-datepicker .ui-datepicker-title {
	text-align: center;
	line-height: 24px;
	font-weight: normal;
	font-size: 14px;
	color: #555;
}
.ui-datepicker table {
	width: 100%; 
	font-size: 12px; 
	border-collapse: collapse; 
}
.ui-datepicker td { 
}
.ui-datepicker th {
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	color: #999;
	padding: 0 0 4px;
}
.ui-datepicker td a { 
	font-size: 12px;
	display: block;
	margin: 0 auto;
	border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    height: 16px;
    width: 21px;
	text-align: center;
	padding: 5px 0 0 0;
	font-weight: normal;
	color:#555;
}
.ui-datepicker td a:hover {
	background: #CCC;
}
td.ui-datepicker-current-day {

}
td.ui-datepicker-current-day a {
	background-color: #B2B2B2;
    border: 1px solid #B2B2B2;
	color: #FFF;
}
td.ui-datepicker-today {
}
td.ui-datepicker-today a {
	color: #0076E3;
}
td.ui-datepicker-other-month span {
	font-size: 12px;
	display: block;
	margin: 0 auto;
	border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    height: 16px;
    width: 21px;
	text-align: center;
	padding: 5px 0 0 0;
	font-weight: normal;
	color: #CCC;
}