#day_categories {
}
#day_categories .category {
	display: block;
	min-height: 38px;
	border-bottom: 1px solid #242220;
	border-top: 1px solid #3C3734;
	position: relative;
	z-index: 3;
}
#day_categories .category .top {
	overflow: hidden;
}
#day_categories .category_task_wrap {
	margin: 8px;
	min-height: 26px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}