.icon_check {
	background-position: -4px -3px !important;
}
.icon_gold_medal {
	background-position: -4px -30px !important;
}
.icon_silver_medal {
	background-position: -4px -58px !important;
}
.icon_dollar_sign {
	background-position: -4px -87px !important;
}
.icon_alert {
	background-position: -4px -114px !important;
}
.icon_clock {
	background-position: -4px -141px !important;
}
.icon_chart {
	background-position: -4px -170px !important;
}
.icon_bolt {
	background-position: -4px -197px !important;
}
.icon_justice {
	background-position: -4px -225px !important;
}
.icon_pig {
	background-position: -4px -253px !important;
}
.icon_note {
	background-position: -4px -281px !important;
}
.icon_sun {
	background-position: -31px -3px !important;
}
.icon_book {
	background-position: -31px -30px !important;
}
.icon_wizard {
	background-position: -31px -58px !important;
}
.icon_cupcake {
	background-position: -31px -86px !important;
}
.icon_door {
	background-position: -31px -113px !important;
}
.icon_cloudy {
	background-position: -31px -142px !important;
}
.icon_star {
	background-position: -31px -170px !important;
}
.icon_earth {
	background-position: -31px -197px !important;
}
.icon_folder {
	background-position: -31px -225px !important;
}
.icon_strawberry_cake {
	background-position: -31px -254px !important;
}
.icon_chocolate_cake {
	background-position: -31px -280px !important;
}