#popup {
	border-top: 1px solid white;
	background: #E3E6ED;
	border-radius: 5px;
	box-shadow: 0px 3px 16px #000;
}
#popup .top {
	border-bottom: 1px solid #9EA0A6;
	font-weight: bold;
	color: #4B4E54;
	font-size: 14px;
	text-shadow: 0px 1px 1px white;
	border-radius: 5px 5px 0 0;
	text-align: center;
	background: url('/assets/popup_top_bg.png') repeat-x top left transparent;
	height: 32px;
	position: relative;
}
#popup .top .title {
	padding-top: 9px;
}
#popup .top .close {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 18px;
	height: 18px;
	background: url('/assets/close.png') no-repeat top left transparent;
}
#popup .top .close:hover {
	background-position: 0 -19px;
}
#popup .body {
	padding: 10px;
	position: relative;
	height: 200px;
}
#popup .body input.task_input {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 8px;
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
	color: #333;
}