#uploadUploader {
	background: url('/assets/add_photo.png') no-repeat;
	width: 150px;
	height: 159px;
	cursor: pointer;
	outline: none;
	margin: 22px 0 0 20px;
}
#uploadUploader:hover {
	background-position: 0 -158px;
}
#queue {
	float: left;
}
.uploadifyQueueItem {
	text-indent: -9999px;
	float: left;
	margin: 0 40px 30px 0;
	width: 190px;
	height: 190px;
	background-color: url('/assets/loading.gif') no-repeat;
}
.uploadifyError {
	background-color: #FF0000 !important;
}
.uploadifyQueueItem .cancel {
	display: none;
}
.uploadifyProgress {
	display: none;
}
.uploadifyProgressBar {
	display: none;
}