#week_view {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
}
#week_view .week_header {
	margin-left: 10px;
	position: relative;
	height: 30px;
}
#week_view .week_header .day_header {
	position: absolute;
	top: 0;
	bottom: 0;
}
#week_view .col1 {
	left: 0;
    right: 85.7143%;
}
#week_view .col2 {
	left: 14.2857%;
    right: 71.4286%;
}
#week_view .col3 {
	left: 28.5714%;
    right: 57.1429%;
}
#week_view .col4 {
	left: 42.8571%;
    right: 42.8571%;
}
#week_view .col5 {
	left: 57.1429%;
    right: 28.5714%;
}
#week_view .col6 {
	left: 71.4286%;
    right: 14.2857%;
}
#week_view .col7 {
	left: 85.7143%;
    right: 0;
}

#week_view .queue_wrap {
	height: 50px;
	position: relative;
	margin-left: 10px;
}
#week_view .queue_wrap .queue {
	position: absolute;
	bottom: 0;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #CCC;
	padding: 1px;
}
#week_view .queue_wrap .queue_hour {
	position: absolute;
	width: 30px;
	text-align: right;
	font-size: 11px;
	left: -30px;
}
#week_view .grid_hours_wrap {
	position: absolute;
	top: 100px;
	bottom: 0;
    left: 0;
    right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}
#week_view .grid_hours_wrap .grid_wrap {
	background-image: url("/assets/gridh.png");
    height: 1800px;
    position: absolute;
    left: 30px;
    right: 20px;
    top: 0;
}
#week_view .grid_hours_wrap .hours {
	left:-20px;
	width: 20px;
    position: absolute;
	text-align: right;
	font-size: 11px;
}
#week_view .grid_hours_wrap .hours .hour { 
	height:75px;
	text-align: right;
	position: relative;
	font-size: 11px;
}
#week_view .grid_hours_wrap .grid { 
	position: absolute;
	top: 0;
	bottom: 0;
	border: 1px solid #CCC;
}
#week_view .time_drop_hover {
	background: #CCC;
}
#week_view .time_drop .drop_task {
	display: none;
}
#week_view .time_drop li.task_wrap {
	position: absolute;
	left: 1px;
	right: 1px;
	opacity: 0.9;
}
#week_view .time_drop li.task_wrap:hover {
	opacity: 1.0;
}