<div class="action_wrap">
	
	<div class="delete"></div>
	<input type="hidden" name="task_id[]" value="<%= task.id.to_s %>" class="task_id">
	
	<div class="checkbox"></div>
	<% if task.must == true %>
		<div class="star"></div>
	<% end %>
	<div class="title">
		<%= task.title %>
	</div>

	
</div>