<div class="categories_wrap">
	
<div id="plan_side">


	<h3 class="side_title"><%= @start_date.strftime('%A') %>'s Schedule</h3>
	<div>

	</div>
	
	<div id="side_schedule"></div>
	
	<div id="new_event">
		<div class="cancel_cluetip"></div>
		<span class="date"></span>
		<span class="start"></span> - <span class="end"></span>
		<input type="text" class="task_title" value="New Event..">
		<input type="hidden" class="task_dbstart">
		<input type="hidden" class="task_dbend">
		<div id="create_event">Create</div>
	</div>
	
	<div id="edit_event">
		<div class="cancel_cluetip"></div>
		<span class="date"></span>
		<span class="start"></span> - <span class="end"></span>
		<input type="text" class="task_title">
		<input type="hidden" class="task_dbstart">
		<input type="hidden" class="task_dbend">
		<input type="hidden" class="task_id">
		<div id="delete_event">Delete</div>
		<div id="update_event">Update</div>
	</div>
	
</div>
	
</div>