<div class="categories_wrap">
	
<div id="plan_side">


	<h3 class="side_title"><%= @start_date.strftime('%A') %>'s Schedule</h3>

	<div>
		<div class="must_wrap">
			<div class="time">00:00</div>
			<div>Must Time</div>
		</div>
		<div class="total_wrap">
			<div class="time">00:00</div>
			<div>Total Time</div>
		</div>
	</div>
	
	<div id="side_schedule"></div>
	
	<%= render '/day/cluetip' %>
	
</div>
	
</div>