<div class="categories_wrap">

	<h3 class="side_title"><%= @start_date.strftime('%A') %>'s Schedule</h3>
	<div>
		must time total time
	</div>
	
<div id="side_schedule">	
	<div class="grid_wrap">
		<div class="hours">
			<% hours = ['12','1','2','3','4','5','6','7','8','9','10','11','12p','1p','2p','3p','4p','5p','6p','7p','8p','9p','10p','11p'] %>
    	<% for hour in hours %>
      	<div class="hour">
       		<%= hour.html_safe %>
       	</div>
    	<% end %>
   	</div>
    <div class="grid" date="<%= @start_date.strftime('%Y-%m-%d') %>">
			<% for task in @tasks %>
				<%= render :partial => '/tasks/schedule_task', :locals => { :task => task } %>
      <% end %>
    </div>
	</div>
</div>
	
</div>