<div class="categories_wrap">
	
<div id="plan_side">


	<h3 class="side_title"><%= @start_date.strftime('%A') %>'s Schedule</h3>


	
	<div id="side_schedule"></div>
	
	<%= render '/day/cluetip' %>
	
</div>
	
</div>