<div class="categories_wrap">

	<h3 class="side_title"><%= @start_date.strftime('%A') %>'s Schedule</h3>
	<div>

	</div>
	
	<div id="side_schedule"></div>
	<div id="new_event">
		<div id="cancel_event">Cancel</div>
		<span class="date"></span>
		<span class="start"></span> - <span class="end"></span>
		<input type="text" id="edit_title" value="New Event..">
		<div id="save_event">Save</div>
	</div>
</div>