$('.filters_wrap a').removeClass('active');
$('#day').addClass('active');
$('#pad').replaceWith("<%= escape_javascript render('plan')  %>");
$('.categories_wrap').replaceWith("<%= escape_javascript render('side_schedule')  %>");

$('ul.incomplete_task_list').children().each(function() {
	$(this).find('.target.active').first().trigger('click');
});

$(document).ready(function() {

   var $calendar = $('#side_schedule');
   var id = 10;

	$calendar.weekCalendar({
		displayOddEven:true,
		timeslotsPerHour : 4,
		timeslotHeight : 15,
		allowCalEventOverlap : true,
		overlapEventsSeparate: true,
		firstDayOfWeek : 1,
		businessHours :{start: 8, end: 18, limitDisplay: false },
		alwaysDisplayTimeMinutes: false,
		daysToShow : 1,
		useShortDayNames: true,
		headerSeparator: ' ',
		timeSeparator: ' - ',
		timeFormat: 'h:ia',
		switchDisplay: {'day': 1, 'week': 7},
		title: function(daysToShow) {
			return daysToShow == 1 ? '<span class="big">%day%</span> <span class="small">%date%</span>' : '<span class="big">%start% - %end%</span>';
		},
		changedate: function($calendar, newDate){
			console.log(newDate);
		},
      eventRender : function(calEvent, $event) {
		if (calEvent.readOnly == true) {
			$event.addClass('readonly');
		}
		if (calEvent.end.getTime() < new Date().getTime()) {
			$event.addClass('past_event');
		}
      },
      draggable : function(calEvent, $event) {
		return calEvent.readOnly != true;
      },
      resizable : function(calEvent, $event) {
		return calEvent.readOnly != true;
      },
      eventDrop : function(calEvent, $event) {
		var start = calEvent.start.toString('yyyy-MM-dd HH:mm:00');
		var end = calEvent.end.toString('yyyy-MM-dd HH:mm:00');
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, scheduled: 'true' }})
		});
      },
      eventResize : function(calEvent, $event) {
		var min_duration = ((calEvent.end.getTime() - calEvent.start.getTime())/1000)/60;
		var start = calEvent.start.toString('yyyy-MM-dd HH:mm:00');
		var end = calEvent.end.toString('yyyy-MM-dd HH:mm:00');
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, min_duration: min_duration }})
		});
      },
      eventClick : function(calEvent, $event) {
		console.log('edit task');
		console.log(calEvent);
      },
      eventNew : function(calEvent, $event) {
		console.log('new event');
		console.log(calEvent);
      },
      eventMouseover : function(calEvent, $event) {
      },
      eventMouseout : function(calEvent, $event) {
      },
      noEvents : function() {
      },
      data : function(start, end, callback) {
		var start = new Date(start).toString('yyyy-MM-dd 00:00:00');
		var end = new Date(end).toString('yyyy-MM-dd 23:59:00');
		$.getJSON("/week/json/"+start+"/"+end, function(result) {
			callback(result);
   		});
      }
   });



});