<!DOCTYPE html>
<html>
<head>
  <title> TimeMaster: Rapid Planning Method </title>
  <%= stylesheet_link_tag 'invite' %>
  <%= javascript_include_tag 'invite' %>
  <%= csrf_meta_tag %>
</head>
<body id="invite">
	
	<%= yield %>
	
</body>
</html>