<!DOCTYPE html>
<html>
<head>
  <title> RPM </title>
  <%= stylesheet_link_tag '0_reset.css', 'mini_player.css', 'view_email.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


	<div id="content">
		<%= yield %>
	</div>

	
</body>
</html>
