<%= render :partial => 'sub_nav' %>

<div id="select_background">
	<span class="thumbnail reeds"> Reeds </span>
	<span class="thumbnail space"> Space </span>
	<span class="thumbnail paisly"> Paisly </span>
	<span class="thumbnail japan"> Japan </span>
	<span class="thumbnail blue"> Blue </span>
	<%= form_for(@user, :html => { :id => "account_background" }) do |f| %>
		<%= f.hidden_field :background, :value => 'reeds', :id => 'hidden_background' %>
	<% end %>
</div>